.box{
    border: 2px solid black;
    min-width: 18rem;
    min-height: 18rem;
    margin: 1rem;
}

button{
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
}

img{
    max-width: -webkit-fill-available;
    height: 13rem;
}
.image{
    max-width: -webkit-fill-available;
    height: 15rem;
    padding: 2px;
    border: 1px dotted brown;
}